html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: sans-serif;
  line-height: 1.5;
  font-family: "Abril Fatface", cursive;
  font-family: Montserrat, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 45em;
  margin: 0 auto;
  padding: 0 1em;
}

footer svg {
  fill: black;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5em;
  text-align: center;
  display: block;
}

header {
  max-width: 30em;
  margin: 0 auto 7em;
}

.current {
  border-bottom: 3px solid black;
}

ul {
  padding: 0;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  white-space: nowrap;
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

input {
  width: 100%;
}

@media only screen and (min-width: 25em) {



}


@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 130%;
  }

}
