html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: sans-serif;
  line-height: 1.5;
  font-family: "Abril Fatface", cursive;
  font-family: Montserrat, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 45em;
  margin: 0 auto;
  padding: 0 1em;
}

img {
  width: 100%;
  display: block;
}

footer svg {
  fill: black;
}

footer {
  display: flex;
  margin: 4em 0 2em;
}

footer .copyright {
  display: block;
  width: 50%;
  text-align: left;
  font-size: .75em;
}

.copyright p {
  margin: 1em 0 0;
}

footer .social-badges {
  display: block;
  align-items: right;
  width: 8%;
  margin-left: auto;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3em;
  text-align: center;
  display: block;
}

header {
  max-width: 30em;
  margin: 0 auto 7em;
}

.current {
  border-bottom: 3px solid black;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  white-space: nowrap;
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

.btn {
  color: white;
  background-color: black;
  padding: 1em 2em;
  text-align: center;
  margin: 0 auto;
}

.btn-container {
  text-align: center;
}

@media only screen and (min-width: 25em) {



}


@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 130%;
  }

}
